@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Comic Code';
    src: url('/fonts/Comic Code Regular.otf') format('opentype');
    font-weight: 400;
    font-display: swap;
}

.bg-dark {
    @apply bg-gray-800 text-zinc-50;
}

.bg-light {
    @apply bg-white text-gray-800;
}